<!-- <p id="notice"><%= notice %></p> -->

<div id= "title">
  <h1>Teaching Assistants</h1>
  <h2>Below are the teching assistans for this week</h2>
</div>

<div id= "post">

  <div id= "postpost">
    <% @products.each do |product| %>
    <div class="poop">
      <div id= "image">
           <%= link_to product_path(product) do %>
           <%= image_tag product.photo.url(:medium) %>
           <% end %>
      <div id= "controls">
          <!-- <p4><%= link_to 'Show', product, class: 'link' %></p4> -->
          <p5><%= link_to 'Edit', edit_product_path(product), class: 'link'  %></p5>
          <p6><%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link' %></p6>
      </div>
      </div>
      <div id= description>
          <div id= "name">
            <a1><%= product.name %></a1>
          </div>
          <div id= "skills">
            <a2><%= product.description %></a2>
          </div>
      </div>
   </div>
    <% end %>
  </div>
</div>

<br>




<add><%= link_to 'Add Teaching Assistant', new_product_path %></add>
