<!-- <p id="notice"><%= notice %></p> -->


<div class= "wraper">

  <div class= "profile">
    <%= image_tag @product.photo.url(:medium) %>
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>
    <p>
      <strong>Skills:</strong>
      <%= @product.description %>
    </p>
    <p>
      <strong>Availability:</strong>
      <%= @product.availability %>
    </p>

    <% if user_signed_in? %>
    <div id= "button">
    <a href="https://calendar.google.com/calendar/render?tab=wc&pli=1#main_7" target="_blank">Book</a>
    </div>
    <% else %>
   <% end %>
  </div>


  <div class= "reviews">
    <h1>Reviews</h1>
        <% @product.reviews.each do |review| %>
        <div class= "divide">
          <p>
            <%= review.comment %>
            <br>
            <br>
            <time>
              Added on: <%= review.created_at.strftime("%d %b. %Y") %>
            </time>
          </p>

        </div>
          <% end %>
          <div id= "formtitle">
            <br>
            <!-- <h3>New Review</h3> -->
            <%= render 'reviews/form' %>
        </div>
  </div>
</div>


<!-- <%= link_to 'Edit', edit_product_path(@product) %> -->
<!-- <%= link_to 'Back', products_path %> -->
