<!-- <p id="notice"><%= notice %></p> -->


<div class= "wraper">

  <div class= "profile">
    <%= image_tag @product.photo.url(:medium) %>
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>
    <p>
      <strong>Skills:</strong>
      <%= @product.description %>
    </p>
    <p>
      <strong>Availabiliy:</strong>
      asdfsdaf, asdfasdfsd
    </p>
    <div id= "button">
    <%= link_to 'Edit', edit_product_path(@product)%>
    <%= link_to 'Remove', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link' %>
    </div>
  </div>


  <div class= "reviews">
    <h1>Reviews</h1>
        <% @product.reviews.each do |review| %>
        <div class= "divide">
          <p>
            <%= review.comment %>
            <br>
            <br>
            <time>
              Added on: <%= review.created_at.strftime("%d %b. %Y") %>
            </time>
          </p>

        </div>
          <% end %>
          <!-- <h3>New Review</h3> -->
          <%= render 'reviews/form' %>
  </div>
</div>


<!-- <%= link_to 'Edit', edit_product_path(@product) %> -->
<!-- <%= link_to 'Back', products_path %> -->
